[submodule "dotty"]
	path = dotty
	url = https://github.com/mvrozanti/dotty
[submodule "st"]
	path = st
	url = https://github.com/mvrozanti/st
[submodule "util/st"]
	path = util/st
	url = https://github.com/mvrozanti/st/
[submodule ".config/nvim/plugged/Colorizer"]
	path =.config/nvim/plugged/Colorizer
	url = https://github.com/chrisbra/Colorizer
[submodule ".config/nvim/plugged/LanguageClient-neovim/"]
	path =.config/nvim/plugged/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule ".config/nvim/plugged/vim-cute-python"]
    path =.config/nvim/plugged/vim-cute-python
    url = https://github.com/mvrozanti/vim-cute-python

