[submodule "dotty"]
	path = dotty
	url = https://github.com/mvrozanti/dotty
[submodule "st"]
	path = st
	url = https://github.com/mvrozanti/st
[submodule "git"]
	path = git
	url = https://github.com/mvrozanti/dotty
