[Unit]
Description=Reapply X keyboard settings on USB add

[Service]
Type=simple
ExecStart=%h/.local/bin/usb-watch.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
