[Desktop Entry]
Name=GHex
Name[am]=GHex
Name[az]=GHex
Name[be]=GHex
Name[bg]=GHex
Name[bs]=GHex
Name[ca]=GHex
Name[cs]=GHex
Name[da]=GHex
Name[de]=GHex
Name[dz]=ཇི་ཧེགསི་
Name[el]=GHex
Name[en_CA]=GHex
Name[en_GB]=GHex
Name[es]=GHex
Name[et]=GHex
Name[eu]=GHex
Name[fi]=GHex
Name[fr]=GHex
Name[ga]=GHex
Name[gl]=GHex
Name[he]=‏GHex
Name[hr]=""GHex
Name[hu]=GHex
Name[id]=GHex
Name[it]=GHex
Name[ja]=GHex
Name[ko]=GHex
Name[lt]=GHex
Name[lv]=GHex
Name[mk]=GHex
Name[ms]=GHex
Name[nb]=GHex
Name[ne]=जि हेक्स
Name[nl]=GHex
Name[oc]=GHex
Name[pa]=GHex
Name[pl]=GHex
Name[pt]=GHex
Name[pt_BR]=GHex
Name[ro]=GHex
Name[ru]=GHex
Name[sk]=GHex
Name[sl]=GHex
Name[sr]=Гхекс
Name[sr@latin]=Gheks
Name[sv]=GHex
Name[th]=GHex
Name[tr]=GHex
Name[uk]=GHex
Name[vi]=GHex
Name[wa]=GHex
Name[zh_CN]=GHex
Name[zh_TW]=GHex
GenericName=Hex Editor
GenericName[am]=የHex ማቀናጃ
GenericName[az]=Onaltılıq Editor
GenericName[be]=Hex-рэдактар
GenericName[bs]=Heksadekadni uređivač
GenericName[cs]=Hexadecimálních editor
GenericName[da]=Heksredigering
GenericName[de]=Hexadezimaler Editor
GenericName[dz]=ཧེགསི་གི་ཞུན་དགཔ་
GenericName[el]=Δεκαεξαδικός επεξεργαστής
GenericName[en_CA]=Hex Editor
GenericName[en_GB]=Hex Editor
GenericName[es]=Editor hexadecimal
GenericName[et]=16nd-süsteemi redaktor
GenericName[eu]=Hamaseitarren editorea
GenericName[fi]=Heksadesimaalimuokkain
GenericName[fr]=Éditeur hexadécimal
GenericName[gl]=Editor hexadecimal
GenericName[he]=עורך קבצים בינאריים
GenericName[hr]=Hex Editor
GenericName[hu]=Hexadecimális szerkesztő
GenericName[id]=Penyunting Heksa
GenericName[it]=Editor Esadecimale
GenericName[ja]=Hex エディター
GenericName[ko]=16진 편집기
GenericName[lt]=Šešioliktainis redaktorius
GenericName[lv]=Heksadecimālais redaktors
GenericName[mk]=Хекс едитор
GenericName[ms]=Editor Heks
GenericName[nb]=Hex-editor
GenericName[ne]=हेक्स सम्पादक
GenericName[nl]=Hex Editor
GenericName[pa]=ਹੈਕਸਾ ਸੰਪਾਦਕ
GenericName[pl]=Edytor szesnastkowy
GenericName[pt]=Editor hexadecimal
GenericName[pt_BR]=Editor hexadecimal
GenericName[ru]=Шестнадцатеричный редактор
GenericName[sk]=Hexadecimálny editor
GenericName[sl]=Urejevalnik šestnajstiških datotek
GenericName[sq]=Editor Hex
GenericName[sr]=Хексадецимални уређивач
GenericName[sr@latin]=Heksadecimalni uređivač
GenericName[sv]=Hexadecimalredigerare
GenericName[th]=เครื่องมือแก้ไขข้อมูลฐานสิบหก
GenericName[tr]=Onaltılık Düzenliyici
GenericName[uk]=Шістнадцятковий редактор
GenericName[vi]=Bộ Sửa Thập Lục
GenericName[wa]=Aspougneu hecsa
GenericName[zh_CN]=十六进制编辑器
GenericName[zh_TW]=二位元檔編輯器
Comment=Inspect and edit binary files
Comment[be]=Прагляд і рэдагаванне двайковых файлаў
Comment[bs]=Analiza i uređivanje binarnih datoteka
Comment[cs]=Zkoumat a upravovat obsah souborů
Comment[da]=Inspicer og rediger binære filer
Comment[de]=Inhalte von Dateien untersuchen und bearbeiten
Comment[el]=Ελέγξτε και επεξεργαστείτε εκτελέσιμα αρχεία
Comment[en_GB]=Inspect and edit binary files
Comment[es]=Inspeccionar y editar archivos binarios
Comment[et]=Binaarfailide vaatamine ja redigeerimine
Comment[eu]=Aztertu eta editatu fitxategi bitarrak
Comment[fi]=Tutki ja muokkaa binääritiedostoja
Comment[fr]=Examiner et modifier des fichiers binaires
Comment[gl]=Examina e edita ficheiros binarios
Comment[he]=בחינה ועריכה של קבצים בינאריים
Comment[hu]=Bináris fájlok megfigyelése és szerkesztése
Comment[id]=Periksa dan sunting berkas biner
Comment[ja]=バイナリ・ファイルを調査したり編集します
Comment[ko]=바이너리 파일을 살펴보고 편집합니다
Comment[lt]=Peržiūrėti ir redaguoti dvejetainius failus
Comment[lv]=Pētiet un rediģējiet bināros failus
Comment[nb]=Inspiser og rediger binærfiler
Comment[pl]=Badanie i modyfikacja plików binarnych
Comment[pt]=Inspecione e edite ficheiros binários
Comment[pt_BR]=Inspecione e edite arquivos binários
Comment[ru]=Просмотр и изменение двоичных файлов
Comment[sl]=Pregled in urejanje dvojiških datotek
Comment[sr]=Прегледајте и измените извршне датотеке
Comment[sr@latin]=Pregledajte i izmenite izvršne datoteke
Comment[sv]=Inspektera och redigera binärfiler
Comment[th]=ตรวจสอบและแก้ไขแฟ้มไบนารี
Comment[tr]=İkilik dosyaları inceleyin ve düzenleyin
Comment[zh_CN]=查看和编辑二进制文件
#TRANSLATORS: here, 'binary' means a binary file (not the base-2 numeric system)
Keywords=binary;debug;
Keywords[bs]=binarna datoteka; otkloni neispravnost;
Keywords[cs]=binární soubor;ladění;
Keywords[de]=binary;binär;Datei;debug;Fehlerbehebung;
Keywords[el]=δυαδικό;αποσφαλμάτωση;εκτελέσιμο;binary;debug;
Keywords[es]=binario;depurar;
Keywords[eu]=bitarra;arazketa;
Keywords[fi]=binary;debug;binääri;vianetsintä;
Keywords[fr]=binaire;débogage;
Keywords[gl]=binario;depuración;
Keywords[he]=בינארי;ניפוי;
Keywords[hu]=bináris;hibakeresés;
Keywords[id]=biner;awakutu;
Keywords[ko]=binary;바이너리;debug;디버깅;
Keywords[lt]=dvejetainė;derinimas;
Keywords[lv]=binārs;atkļūdošana;
Keywords[nb]=binær;feilsøking;
Keywords[pl]=binarny;binarnie;binarka;debugowanie;debuguj;debuger;
Keywords[pt]=binário;depuração;
Keywords[pt_BR]=binário;depurar;
Keywords[sl]=razhroščevanje;binarni;osmiški;urejevalnik;
Keywords[sr]=извршни;прочишћавање;уклањање грешака;
Keywords[sr@latin]=izvršni;pročišćavanje;uklanjanje grešaka;
Keywords[sv]=binär;felsök;debug;
Keywords[tr]=ikilik;hata ayıklama;
Keywords[zh_CN]=binary;debug;二进制;十六进制;调试;
Exec=ghex %F
Terminal=false
Type=Application
Icon=ghex
Categories=GNOME;GTK;Development;
StartupNotify=true
