[Desktop Entry]
Type=Application
Name[af]=Shell uitbreidings
Name[ar]=امتدادات الصدفة
Name[be]=Пашырэнні абалонкі
Name[bg]=Разширения на обвивката
Name[ca]=Extensions del Shell
Name[ca@valencia]=Extensions del Shell
Name[cs]=Rozšíření pro Shell
Name[da]=Shell-udvidelser
Name[de]=Shell-Erweiterungen
Name[el]=Επεκτάσεις κελύφους
Name[en_GB]=Shell Extensions
Name[eo]=Ŝelaj kromprogramoj
Name[es]=Extensiones de la Shell
Name[et]=Shelli laiendused
Name[eu]=Shell-en hedapenak
Name[fa]=افزونه‌های پوسته
Name[fi]=Shell-laajennukset
Name[fr]=Extensions Shell
Name[fur]=Estensions Shell
Name[gd]=Leudachain na slige
Name[gl]=Extensións de Shell
Name[he]=הרחבות מעטפת
Name[hr]=Proširenja ljuske
Name[hu]=Shell kiterjesztések
Name[id]=Ekstensi Shell
Name[is]=Shell Extension skeljarviðbætur
Name[it]=Estensioni della Shell
Name[ja]=Shell 拡張機能
Name[kk]=Қоршам кеңейтулері
Name[ko]=셸 확장
Name[lt]=Shell plėtiniai
Name[lv]=Čaulas paplašinājumi
Name[ml]=ഷെല്‍ എക്സ്റ്റെന്‍ഷനുകള്‍
Name[nb]=Utvidelser for GNOME Shell
Name[ne]=सेल विस्तारहरू
Name[nl]=Shell-uitbreidingen
Name[oc]=Extensions Shell
Name[pa]=ਸ਼ੈਲ ਇਕਸਟੈਸ਼ਨ
Name[pl]=Rozszerzenia powłoki
Name[pt_BR]=Extensões do shell
Name[ro]=Extensii pentru vizualizatorul activităților
Name[ru]=Расширения GNOME Shell
Name[sk]=Rozšírenia pre Shell
Name[sl]=Razširitve lupine
Name[sr]=Проширења шкољке
Name[sr@latin]=Proširenja školjke
Name[sv]=Skaltillägg
Name[tg]=Васеъшавиҳои восит
Name[tr]=Kabuk Uzantıları
Name[uk]=Розширення оболонки
Name[vi]=Phần mở rộng Hệ vỏ
Name[zh_CN]=Shell 扩展
Name[zh_TW]=Shell 擴充套件
Name=Shell Extensions
Comment[af]=Stel GNOME Shell-uitbreidings op
Comment[an]=Configurar as extensions de GNOME Shell
Comment[ar]=اضبط امتدادات صدفة جنوم
Comment[as]=GNOME শ্বেল সম্প্ৰসাৰনসমূহ সংৰূপণ কৰক
Comment[be]=Настройкі пашырэнняў абалонкі GNOME
Comment[bg]=Настройки на разширенията на обвивката
Comment[bn_IN]=GNOME সেল এক্সটেনশন কনফিগার করুন
Comment[bs]=Podesi GNOME Shell proširenja
Comment[ca]=Configureu les extensions del GNOME Shell
Comment[ca@valencia]=Configureu les extensions del GNOME Shell
Comment[cs]=Nastavit rozšíření pro GNOME Shell
Comment[da]=Konfigurér udvidelsesmoduler til GNOME Shell
Comment[de]=GNOME-Shell-Erweiterungen einrichten
Comment[el]=Ρύθμιση επεκτάσεων του GNOME Shell
Comment[en_GB]=Configure GNOME Shell Extensions
Comment[eo]=Agordi GNOME-ŝelajn kromprogramojn
Comment[es]=Configurar las extensiones de GNOME Shell
Comment[et]=GNOME Shelli laienduste seadistamine
Comment[eu]=Konfiguratu GNOME Shell-eko gehigarriak
Comment[fa]=پیکربندی ترجیحات افزونه‌های گنوم‌شل
Comment[fi]=Hallitse Gnome Shell -laajennuksia
Comment[fr]=Configurer les extensions Shell de GNOME
Comment[fur]=Configure lis estensions di GNOME Shell
Comment[ga]=Cumraigh Eisínteachtaí GNOME Shell
Comment[gd]=Rèitich leudachain Slige GNOME
Comment[gl]=Configure as extensións de GNOME Shell
Comment[gu]=GNOME Shell ઍક્સટેન્શનને રૂપરેખાંકિત કરો
Comment[hi]=गनोम शेल एक्सटेंशन विन्यस्त करें
Comment[hr]=Podesi proširenja GNOME ljuske
Comment[hu]=GNOME Shell kiterjesztések beállítása
Comment[ia]=Configurar le extensiones GNOME Shell
Comment[id]=Konfigurasi Ekstensi GNOME Shell
Comment[is]=Stilla GNOME Shell Extension skeljarviðbætur
Comment[it]=Configura le estensioni di GNOME Shell
Comment[ja]=GNOME Shell 拡張機能の設定を行います
Comment[kk]=GNOME Shell кеңейтулерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ផ្នែក​បន្ថែម​របស់ GNOME សែល
Comment[kn]=GNOME ಶೆಲ್ ಎಕ್ಸ‍ಟೆನ್ಶನ್ಸ್ ಅನ್ನು ಸಂರಚಿಸಿ
Comment[ko]=그놈 셸 확장을 설정합니다
Comment[ky]=GNOME Shell кеңейтмелерин ырастоо
Comment[lt]=Konfigūruoti GNOME Shell plėtinius
Comment[lv]=Konfigurēt GNOME Shell paplašinājumus
Comment[ml]=ഗ്നോം ഷെല്‍ എക്സ്റ്റെന്‍ഷനുകള്‍ ക്രമീകരിയ്ക്കുക
Comment[mr]=GNOME शेल एक्सटेंशन्स् संरचीत करा
Comment[nb]=Sett opp utvidelser for GNOME Shell
Comment[ne]=जिनोम सेल  विस्तारहरू कन्फिगर
Comment[nl]=Gnome Shell-uitbreidingen configureren
Comment[oc]=Configurar las extensions GNOME Shell
Comment[or]=GNOME ସେଲ ଅନୁଲଗ୍ନଗୁଡ଼ିକ
Comment[pa]=ਗਨੋਮ ਸ਼ੈਲ ਇਕਸਟੈਸ਼ਨ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja rozszerzeń powłoki GNOME
Comment[pt]=Configurar extensões à interface GNOME
Comment[pt_BR]=Configurar extensões do Shell do GNOME
Comment[ro]=Configurarea extensiilor pentru Vizualizatorul activităților GNOME
Comment[ru]=Настроить расширения GNOME Shell
Comment[sk]=Nastavenie rozšírení pre Shell prostredia GNOME
Comment[sl]=Nastavitve razširitev lupine GNOME
Comment[sr]=Подесите проширења Гномове шкољке
Comment[sr@latin]=Podesite proširenja Gnomove školjke
Comment[sv]=Konfigurera tillägg för GNOME-skal
Comment[ta]=க்னோம் ஷெல் நீட்சிகளை வடிவமை
Comment[te]=గ్నోమ్ షెల్ పొడిగింతలను స్వరూపించు
Comment[tg]=Танзимоти васеъшавиҳои восити GNOME
Comment[th]=ตั้งค่าส่วนขยายต่างๆ ของเชลล์ GNOME
Comment[tr]=GNOME Kabuğu Uzantılarını Ayarla
Comment[ug]=گىنوم Shell كېڭەيتمىسىنى سەپلەش
Comment[uk]=Налаштувати розширення GNOME Shell
Comment[uz@cyrillic]=GNOME Shell кенгайтмаларини созлаш
Comment[vi]=Cấu hình phần mở rộng Hệ vỏ GNOME
Comment[zh_CN]=配置 GNOME Shell 扩展
Comment[zh_HK]=設定 GNOME Shell 擴充功能
Comment[zh_TW]=設定 GNOME Shell 擴充套件
Comment=Configure GNOME Shell Extensions
Exec=/usr/bin/gnome-shell-extension-prefs %u
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-shell
X-GNOME-Bugzilla-Component=extensions
X-GNOME-Bugzilla-Version=3.32.2
Categories=GNOME;GTK;
OnlyShowIn=GNOME;
NoDisplay=true
