[Desktop Entry]
Version=1.0
Type=Application
Name=Nemiver
Name[as]=Nemiver
Name[bs]=Nemiver
Name[ca]=Nemiver
Name[ca@valencia]=Nemiver
Name[cs]=Nemiver
Name[da]=Nemiver
Name[de]=Nemiver
Name[dz]=ནི་མི་བར་
Name[el]=Nemiver
Name[en_GB]=Nemiver
Name[es]=Nemiver
Name[eu]=Nemiver
Name[fi]=Nemiver
Name[fr]=Nemiver
Name[fur]=Nemiver
Name[gl]=Nemiver
Name[hi]=Nemiver
Name[hu]=Nemiver
Name[id]=Nemiver
Name[it]=Nemiver
Name[ja]=Nemiver
Name[ko]=네마이버
Name[lt]=Nemiver
Name[lv]=Nemiver
Name[ml]=നെമീവര്‍
Name[nb]=Nemiver
Name[nl]=Nemiver
Name[oc]=Nemiver
Name[pl]=Nemiver
Name[pt]=Nemiver
Name[pt_BR]=Nemiver
Name[ro]=Nemiver
Name[ru]=Nemiver
Name[sk]=Nemiver
Name[sl]=Nemiver
Name[sr]=Немивер
Name[sr@latin]=Nemiver
Name[sv]=Nemiver
Name[th]=Nemiver
Name[tr]=Nemiver
Name[ug]=Nemiver
Name[zh_CN]=Nemiver
Name[zh_HK]=Nemiver
Name[zh_TW]=Nemiver
GenericName=C/C++ Debugger
GenericName[as]=C/C++ ডিবাগাৰ
GenericName[bs]=C/C++ Debager
GenericName[ca]=Depurador de C/C++
GenericName[ca@valencia]=Depurador de C/C++
GenericName[cs]=Ladicí program C/C++
GenericName[da]=Fejlsøgning i C/C++
GenericName[de]=C/C++-Fehlerdiagnose
GenericName[dz]=སི/སི++ ཌི་བགག་ཇར་
GenericName[el]=Αποσφαλματωτής C/C++
GenericName[en_GB]=C/C++ Debugger
GenericName[eo]=Sencimigilo por C/C++
GenericName[es]=Depurador de C/C++
GenericName[eu]=C/C++ araztailea
GenericName[fi]=C/C++ -vianjäljitin
GenericName[fr]=Débogueur C/C++
GenericName[fur]=Debugger C/C++
GenericName[gl]=Depurador de C/C++
GenericName[hi]=C/C++ Debugger
GenericName[hu]=C/C++ hibakereső
GenericName[id]=Pengawakutu C/C++
GenericName[it]=Debugger C/C++
GenericName[ja]=C/C++ デバッガ
GenericName[ko]=C/C++ 디버거
GenericName[lt]=C/C++ derintuvė
GenericName[lv]=C/C++ atkļūdotājs
GenericName[ml]=C/C++ ഡീബഗ്ഗര്‍
GenericName[nb]=C/C++ feilsøking
GenericName[oc]=Desbugador C/C++
GenericName[pl]=Debuger języka C i C++
GenericName[pt]=Depurador C/C++
GenericName[pt_BR]=Depurador C/C++
GenericName[ro]=Depanator C/C++
GenericName[ru]=Отладчик C/C++
GenericName[sk]=Odlaďovač C/C++
GenericName[sl]=Razhroščevalnik C/C++
GenericName[sr]=Ц/Ц++ прочишћавач
GenericName[sr@latin]=C/C++ pročišćavač
GenericName[sv]=C/C++-felsökare
GenericName[tg]=Ислоҳкунандаи C/C++
GenericName[th]=โปรแกรมดีบั๊ก C/C++
GenericName[tr]=C/C++ Hata Ayıklayıcısı
GenericName[ug]=C/C++ سازلىغۇچ
GenericName[zh_CN]=C/C++ 调试器
GenericName[zh_HK]=C/C++ 除錯器
GenericName[zh_TW]=C/C++ 除錯器
X-GNOME-FullName=Nemiver C/C++ Debugger
X-GNOME-FullName[as]=Nemiver C/C++ ডিবাগাৰ
X-GNOME-FullName[bs]=Nemiver C/C++ debager
X-GNOME-FullName[ca]=Depurador de C/C++ Nemiver
X-GNOME-FullName[ca@valencia]=Depurador de C/C++ Nemiver
X-GNOME-FullName[cs]=Ladicí program C/C++ Nemiver
X-GNOME-FullName[da]=Nemiver C/C++-fejlsøgning
X-GNOME-FullName[de]=Nemiver Fehlerdiagnose für C/C++
X-GNOME-FullName[el]=Αποσφαλματωτής Nemiver C/C++
X-GNOME-FullName[en_GB]=Nemiver C/C++ Debugger
X-GNOME-FullName[es]=Depurador de C/C++ Nemiver
X-GNOME-FullName[eu]=Nemiver C/C++ araztailea
X-GNOME-FullName[fi]=Nemiver C/C++ -vianjäljitin
X-GNOME-FullName[fr]=Débogueur C/C++ Nemiver
X-GNOME-FullName[fur]=Nemiver debugger C/C++
X-GNOME-FullName[gl]=Depurador de C/C++ Nemiver
X-GNOME-FullName[hu]=Nemiver C/C++ hibakereső
X-GNOME-FullName[id]=Nemiver Pengawakutu C/C++
X-GNOME-FullName[it]=Nemiver debugger C/C++
X-GNOME-FullName[ja]=Nemiver C/C++ デバッガ
X-GNOME-FullName[ko]=네마이버 C/C++ 디버거
X-GNOME-FullName[lt]=Nemiver C/C++ derintuvė
X-GNOME-FullName[lv]=Nemiver C/C++ atkļūdotājs
X-GNOME-FullName[ml]=നെമീവര്‍ C/C++ ഡീബഗ്ഗര്‍
X-GNOME-FullName[nb]=Nemiver feilsøkingsprogram for C/C++
X-GNOME-FullName[oc]=Desbugador C/C++ Nemiver
X-GNOME-FullName[pl]=Debuger języka C i C++ Nemiver
X-GNOME-FullName[pt]=Depurador C/C++ Nemiver
X-GNOME-FullName[pt_BR]=Depurador C/C++ Nemiver
X-GNOME-FullName[ro]=Depanatorul C/C++ Nemiver
X-GNOME-FullName[ru]=Отладчик C/C++ Nemiver
X-GNOME-FullName[sk]=Nemiver - odlaďovač C/C++
X-GNOME-FullName[sl]=Razhroščevalnik C/C++ Nemiver
X-GNOME-FullName[sr]=Немивер Ц/Ц++ прочишћавач
X-GNOME-FullName[sr@latin]=Nemiver C/C++ pročišćavač
X-GNOME-FullName[sv]=Nemiver C/C++-felsökare
X-GNOME-FullName[tr]=Nemiver C/C++ Hata Ayıklayıcısı
X-GNOME-FullName[ug]=نېمىۋېر C/C++ سازلىغۇچ
X-GNOME-FullName[zh_CN]=Nemiver C/C++ 调试器
X-GNOME-FullName[zh_HK]=Nemiver C/C++ 除錯器
X-GNOME-FullName[zh_TW]=Nemiver C/C++ 除錯器
Comment=Debug Applications
Comment[as]=এপ্লিকেচনসমূহ ডিবাগ কৰক
Comment[bs]=Otkrijte greške u programima
Comment[ca]=Depureu aplicacions
Comment[ca@valencia]=Depureu aplicacions
Comment[cs]=Ladit aplikace
Comment[da]=Fejlsøgningsprogrammer
Comment[de]=Anwendungen diagnostizieren
Comment[dz]=གློག་རིམ་ཚུ་རྐྱེན་སེལ་འབད་
Comment[el]=Εφαρμογές αποσφαλμάτωσης
Comment[en_GB]=Debug Applications
Comment[eo]=Sencimigi aplikaĵojn
Comment[es]=Depurar aplicaciones
Comment[eu]=Araztu aplikazioak
Comment[fi]=Jäljitä vikoja sovelluksista
Comment[fr]=Déboguer des applications
Comment[fur]=Eseguìs il debug des aplicazions
Comment[gl]=Depurar aplicativos
Comment[hu]=Alkalmazások hibáinak keresése
Comment[id]=Awakutu Aplikasi
Comment[it]=Esegue il debug di applicazioni
Comment[ja]=デバッグ・ツールです
Comment[ko]=프로그램 디버깅
Comment[lt]=Derinti programas
Comment[lv]=Atkļūdo lietotnes
Comment[ml]=ഡീബഗ്ഗ് പ്രയോഗങ്ങള്‍
Comment[nb]=Feilsøk programmer
Comment[nl]=Toepassingen debuggen
Comment[oc]=Desbugar d'aplicacions
Comment[pl]=Debugowanie programów
Comment[pt]=Depurar aplicações
Comment[pt_BR]=Depure aplicativos
Comment[ro]=Depanează aplicații
Comment[ru]=Отлаживаемые приложения
Comment[sk]=Ladenie aplikácií
Comment[sl]=Programi za razhroščevanje
Comment[sr]=Програми за прочишћавање
Comment[sr@latin]=Programi za pročišćavanje
Comment[sv]=Felsök program
Comment[th]=ดีบั๊กโปรแกรม
Comment[tr]=Hata Ayıklama Uygulamaları
Comment[ug]=پروگراممىلارنى سازلاش پروگراممىسى
Comment[zh_CN]=调试应用程序
Comment[zh_HK]=對應用程式除錯
Comment[zh_TW]=對應用程式除錯
Keywords=gdb;disassembler;debugger;c;c++;
Keywords[as]=gdb;disassembler;debugger;c;c++;
Keywords[bs]=gdb;disassembler;debuger;c;c++;
Keywords[ca]=gdb;desassemblador;depurador;c;c++;
Keywords[ca@valencia]=gdb;desassemblador;depurador;c;c++;
Keywords[cs]=gdb;disassembler;debugger;ladicí;ladění;c;c++;
Keywords[da]=gdb;disassembler;debugger;fejlsøger;fejlsøgning;c;c++;
Keywords[de]=gdb;disassembler;debugger;Diagnose;c;c++;
Keywords[el]=gdb;αντίστροφος συμβολομεταφραστής;αποσφαλματωτής;c;c++;disassembler;debugger;
Keywords[en_GB]=gdb;disassembler;debugger;c;c++;
Keywords[es]=gdb;desensamblador;depurador;c;c++;
Keywords[eu]=gdb;disassembler;debugger;c;c++;
Keywords[fi]=gdb;disassembler;debugger;c;c++;vianjäljitin;
Keywords[fr]=gdb;désassembleur;débogueur;c;c++;
Keywords[fur]=gdb;disassembler;debugger;c;c++;
Keywords[gl]=gdb;desamblador;depurador;c;c++;
Keywords[hu]=gdb;szétszerelő;hibakereső;c;c++;
Keywords[id]=gdb;disassembler;pengawakutu;c;c++;
Keywords[it]=gdb;disassembler;debugger;c;c++;
Keywords[ko]=gdb;gdb;disassembler;디스어셈블러;debugger;디버거;c;c;c++;c++;
Keywords[lt]=gdb;disasembleris;derintuvė;c;c++;
Keywords[lv]=gdb;disasemblers;atkļūdošana;c;c++;
Keywords[nb]=gdb;disassembler;feilsøking;c;c++;
Keywords[oc]=gdb;desassemblador;desbugador;c;c++;
Keywords[pl]=gdb;deasembler;disassembler;debuger;debugger;c;c++;cpp;plus;
Keywords[pt]=gdb;disassembler;depurador;c;c++;
Keywords[pt_BR]=gdb;desmontador;depurador;c;c++;
Keywords[ru]=gdb;дизассемблер;отладчик;c;c++;
Keywords[sk]=gdb;disassembler;odlaďovač;c;c++;
Keywords[sl]=gdb;razčlenjevalnik;razhroščevalnik;debugger;c;c++;
Keywords[sr]=гдб;разјединитељ;прочишћавач;ц;ц++;
Keywords[sr@latin]=gdb;razjedinitelj;pročišćavač;c;c++;
Keywords[sv]=gdb;disassemblerare;felsökare;c;c++;
Keywords[tr]=gdb;ayırıcı;çözücü;hata ayıklayıcı;c;c++;
Keywords[ug]=gdb;disassembler;debugger;c;c++;سازلىغۇچ;
Keywords[zh_CN]=gdb;disassembler;debugger;c;c++;反汇编;调试;
Keywords[zh_HK]=gdb;disassembler;debugger;c;c++;除錯器;反組譯;
Keywords[zh_TW]=gdb;disassembler;debugger;c;c++;除錯器;反組譯;
Icon=nemiver
Exec=nemiver
Categories=GNOME;GTK;Development;Debugger;
StartupNotify=true
