[Desktop Entry]
Name[af]=Netwerkaanmelding
Name[an]=Encetar sesión en o rete
Name[ar]=ولوج الشّبكة
Name[be]=Сеткавы ўваход
Name[bg]=Мрежов вход
Name[bn_IN]=নেটওয়ার্ক লগিন
Name[bs]=Mrežna prijava
Name[ca]=Inici de sessió de xarxa
Name[ca@valencia]=Inici de sessió de xarxa
Name[cs]=Přihlášení do sítě
Name[da]=Netværksindlogning
Name[de]=Netzwerkanmeldung
Name[el]=Σύνδεση δικτύου
Name[en_GB]=Network Login
Name[eo]=Reta saluto
Name[es]=Inicio de sesión de la red
Name[et]=Võrku sisselogimine
Name[eu]=Sareko saio-hasiera
Name[fa]=ورود به سیستم شبکه
Name[fi]=Verkkokirjautuminen
Name[fr]=Identification réseau
Name[fur]=Acès di rêt
Name[ga]=Logáil Isteach Líonra
Name[gd]=Clàradh a-steach lìonraidh
Name[gl]=Inicio de sesión de rede
Name[hr]=Mrežna prijava
Name[hu]=Hálózati bejelentkezés
Name[id]=Log Masuk Jaringan
Name[is]=Innskráning á neti
Name[it]=Accesso di rete
Name[ja]=ネットワークログイン
Name[kk]=Желілік кіру
Name[ko]=네트워크 로그인
Name[lt]=Tinklo prisijungimas
Name[lv]=Tīkla ierakstīšanās
Name[ml]=നെറ്റ്​വര്‍ക്ക് ലോഗിന്‍
Name[nb]=Nettverkspålogging
Name[nl]=Netwerkaanmelding
Name[oc]=Identificacion ret
Name[pa]=ਨੈੱਟਵਰਕ ਲਾਗਇਨ
Name[pl]=Logowanie do sieci
Name[pt]=Sessão na rede
Name[pt_BR]=Sessão de Rede
Name[ro]=Logare prin rețea
Name[ru]=Сетевая авторизация
Name[sk]=Sieťové prihlásenie
Name[sl]=Omrežna prijava
Name[sr]=Мрежна пријава
Name[sr@latin]=Mrežna prijava
Name[sv]=Nätverksinloggning
Name[tg]=Воридшавии шабакавӣ
Name[tr]=Ağ Girişi
Name[uk]=Мережевий вхід
Name[uz@cyrillic]=Тармоққа кириш
Name[vi]=Đăng nhập mạng
Name[zh_CN]=网络登录
Name[zh_TW]=網路登入
Name=Network Login
Type=Application
Exec=gapplication launch org.gnome.Shell.PortalHelper
DBusActivatable=true
NoDisplay=true
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[af]=network-workgroup
Icon[ar]=network-workgroup
Icon[be]=network-workgroup
Icon[bg]=network-workgroup
Icon[ca]=network-workgroup
Icon[ca@valencia]=network-workgroup
Icon[cs]=network-workgroup
Icon[da]=network-workgroup
Icon[el]=network-workgroup
Icon[en_GB]=network-workgroup
Icon[et]=network-workgroup
Icon[eu]=network-workgroup
Icon[fa]=network-workgroup
Icon[fi]=network-workgroup
Icon[fr]=network-workgroup
Icon[fur]=network-workgroup
Icon[gd]=network-workgroup
Icon[gl]=network-workgroup
Icon[hu]=network-workgroup
Icon[id]=network-workgroup
Icon[is]=network-workgroup
Icon[it]=network-workgroup
Icon[ja]=network-workgroup
Icon[kk]=network-workgroup
Icon[ko]=network-workgroup
Icon[lt]=network-workgroup
Icon[lv]=network-workgroup
Icon[ml]=network-workgroup
Icon[nb]=network-workgroup
Icon[nl]=network-workgroup
Icon[oc]=network-workgroup
Icon[pa]=network-workgroup
Icon[pl]=network-workgroup
Icon[pt]=network-workgroup
Icon[pt_BR]=network-workgroup
Icon[ro]=network-workgroup
Icon[ru]=network-workgroup
Icon[sl]=network-workgroup
Icon[sr]=network-workgroup
Icon[sr@latin]=network-workgroup
Icon[sv]=network-workgroup
Icon[tg]=network-workgroup
Icon[tr]=network-workgroup
Icon[uk]=network-workgroup
Icon[uz@cyrillic]=network-workgroup
Icon[vi]=network-workgroup
Icon=network-workgroup
StartupNotify=true
OnlyShowIn=GNOME;
