[Desktop Entry]
Name[ca]=Fractal
Name[cs]=Fractal
Name[de]=Fraktal
Name[es]=Fractal
Name[fi]=Fractal
Name[fr]=Fractal
Name[fur]=Fractal
Name[pl]=Fractal
Name[pt_BR]=Fractal
Name[sv]=Fractal
Name=Fractal
Comment[ca]=Fractal és un client de missatgeria segur, descentralitzat per la comunicació de  grups col·laboratius .
Comment[cs]=Fractal je decentralizovaný a bezpečný komunikační klient pro komunikaci ve skupinách spolupracujících lidí.
Comment[de]=Fraktal ist ein dezentrales, sicheres Nachrichtenprogramm für gemeinschaftliche Gruppenkommunikation.
Comment[es]=Fractal es un cliente de mensajería descentralizado y seguro para comunicación de grupos de colaboración.
Comment[fi]=Fractal on hajautettu ja turvallinen viestintäsovellus ryhmäviestintään.
Comment[fr]=Fractal est un client de messagerie décentralisée et sécurisée pour la communication en groupes collaboratifs.
Comment[fur]=Fractal al è un client par mandâ messaçs decentralizât e sigûr pe comunicazion di grups di colaborazion.
Comment[pl]=Fractal jest zdecentralizowanym, bezpiecznym komunikatorem do komunikacji wśród współpracujących grup.
Comment[pt_BR]=Fractal é um cliente de mensageria descentralizado e seguro para comunicação colaborativa em grupo.
Comment[sk]=Fractal je decentralizovaný bezpečný klient určený na  okamžité konverzácie a vzájomnú komunikáciu v skupinách.
Comment[sv]=Fractal är en decentraliserad, säker meddelandeklient för samarbetande gruppkommunikation.
Comment=Fractal is a decentralized, secure messaging client for collaborative group communication.
GenericName[ca]=Missatgeria de grup Fractal
GenericName[cs]=Skupinová komunikace Fractal
GenericName[de]=Fraktal Gruppenkommunikation
GenericName[es]=Mensajería Fractal
GenericName[fi]=Fractal-ryhmäviestintä
GenericName[fr]=Messagerie de groupe Fractal
GenericName[fur]=Messaçs di grup Fractal
GenericName[pl]=Wiadomości grupowe Fractal
GenericName[pt_BR]=Mensagens de grupo Fractal
GenericName[sk]=Skupinové konverzácie Fractal
GenericName[sv]=Fractal gruppmeddelanden
GenericName=Fractal group messaging
Exec=fractal
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Fractal
Type=Application
StartupNotify=true
X-GNOME-UsesNotifications=true
Categories=GNOME;GTK;Network;InstantMessaging;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=Matrix;matrix.org;xat;irc;comunicacions;conversa;aldarull;
Keywords[cs]=Matrix;matrix.org,chat;irc;diskuze;pokec;komunikace;
Keywords[de]=Matrix;matrix.org;Chat;IRC;Kommunikation;Nachrichten;Riot;
Keywords[es]=Matrix;matrix.org;chat;irc;comunicaciones;hablar;conversación;
Keywords[fi]=Matrix;matrix.org;chat;irc;communications;talk;riot;keskustelu;pikaviestin;
Keywords[fr]=Matrix;matrix.org;chat;discussion;irc;communications;parler;conversation;riot;
Keywords[fur]=Matrix;matrix.org;chat;irc;comunicazions;cjacarâ;tabaiâ;confusion;
Keywords[pl]=Matrix;matrix.org;czat;chat;irc;komunikacja;komunikator;im;wiadomość;rozmowa;riot;
Keywords[pt_BR]=Matrix;matrix.org;bate-papo;irc;comunicações;conversa;riot;
Keywords[sv]=Matrix;matrix.org;chatt;irc;kommunikation;samtal;riot;
Keywords=Matrix;matrix.org;chat;irc;communications;talk;riot;
