[Desktop Entry]
Version=2018.3.1
Type=Application
Name=Rider
Icon=/usr/share/rider/bin/rider.png
Exec="/usr/share/rider/bin/rider.sh" %f
Comment=A cross-platform C# IDE by JetBrains.
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rider
