:root {
  --focus-outline-color: {{colors.primary.default.hex}} !important;
  --toolbar-field-border-color-focus: {{colors.primary.default.hex}} !important;
  --urlbar-background-outline-focused: {{colors.primary.default.hex}} !important;
  --smartbar-outline-color: {{colors.primary.default.hex}} !important;
  --color-accent-primary: {{colors.primary.default.hex}} !important;
  --color-accent-primary-hover: {{colors.secondary.default.hex}} !important;
  --color-accent-primary-active: {{colors.tertiary.default.hex}} !important;
  --tab-border-color-selected-leading: {{colors.primary.default.hex}} !important;
  --tab-border-color-selected-trailing: {{colors.tertiary.default.hex}} !important;
}
