html {overflow: -moz-scrollbars-none;}
.autocomplete-richlistbox {
        background: #1e1e1e !important;
        color: #fff !important;
}
.tabbrowser-tab {
    border-bottom: none !important;
    margin-right: -1px !important;
    background: #1e1e1e !important;
}
#TabsToolbar {
    background-image: linear-gradient(#000, #1e1e1e) !important;
    
    margin-top: 0px !important;
    padding-top: 3px !important;
    border: none !important;
    box-shadow: none !important;
}

.tab-background-start, .tab-background-end {
    visibility: hidden !important;
}
.tab-background-middle {
    background: #1e1e1e !important;
}
.tab-background {
    background: #1e1e1e !important;
}
@-moz-document url(chrome://browser/content/browser.xul)
{
   #main-window,
   browser[type="content-primary"],
   browser[type="content"],
   tabbrowser#content,
   #content,
   browser[type="content"] > html
   {
      background: #1e1e1e !important;
   }
}
